/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

html, body {
	background-color: #F9F9F9;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h1 {
	color: #151412;
	font-weight: 400;
	font-size: 3em;
	margin-bottom: 40px;
}

h2 {
	color: #666666;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.5em;
}

p {
	color: #666666;
	font-weight: 300;
}

.hero {
	max-width: 600px;
	margin: 80px auto;
	text-align: center;
}

.top {
	height: 5px;

  background: -webkit-linear-gradient(90deg, #1CE1DB 10%, #DDFD5A 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #1CE1DB 10%, #DDFD5A 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #1CE1DB 10%, #DDFD5A 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #1CE1DB 10%, #DDFD5A 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #1CE1DB 10%, #DDFD5A 90%); /* W3C */
        
}

.logo {
	max-width: 125px;
	margin-top: 40px;
}

.austin {
	height: 400px;
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.who {
	margin: 40px 0;
	text-align: center;
	line-height: 2em;
}

.hello {
	padding: 80px 0;
	text-align: center;
}

.big {
	font-size: 3em;
}

a {
	text-decoration: none;
	border-bottom: 2px solid #1CE1DB;
	padding-bottom: 5px;
	color: #151412;
	cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

a:hover {
	color: #1CE1DB;
}


