/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

html, body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: white;
}

.content {
	width: 300px;
	height: 240px;
	padding-left: 40px;
}

p {
	opacity: .7;
	margin-top: 10px;
}

.logo {
	max-width: 100px;
	margin-top: 30px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #DDFD5A;
	padding-bottom: 5px;
	color: white;
	cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

a:hover {
	color: #DDFD5A;
}

.who {
	bottom: 30px;
	padding-left: 40px;
	position: fixed;
}

@media (max-width: 640px) {
	.content { width: 100%; text-align: center; padding: 60px; }
	}